@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

.menu {
  width: 270px;
  height: 420px;
  background-color: #f0f0f0;
  opacity: 100%;
  position: fixed;
  z-index: 9999;
  margin: 20px;
  border-radius: 10px;
  animation-fill-mode: both;
  animation-iteration-count: initial;
  animation-duration: 1s;
  box-shadow: 5px 2px darkgray;
}

.menu:before {
  content: "";
  left: 100%;
  top: 40%;
  width: 20px;
  height: 40px;
  border-radius: 0px 40px 40px 0px;
  background-color: #f0f0f0;
  position: absolute;
  box-shadow: 3px 1px darkgray;
  cursor: pointer;
}

.menu__list {
  position: relative;
  width: 260px;
  height: 410px;
  left: 5px;
  top: 5px;
  background-color: white;
  border-radius: 10px;
}

.menu__list > li {
  position: relative;
  display: list-item;
  justify-content: center;
  background-color: #3396ff;
  color: white;
  font-family: "Jeju Gothic", sans-serif;
  list-style: none;
}

.menu__list > li > label {
  display: flex;
  justify-content: center;
  padding: 10px 20px 10px 0;
  align-items: center;
}

.menu__list > li > label > span {
  padding-right: 5px;
}

.menu__list > li > label:hover {
  cursor: pointer;
}

.menu__list > li ul {
  background-color: white;
  color: black;
  font-size: 18px;
}

.menu__list > li ul > li {
  padding: 20px;
}

.menu__list > li ul > li:hover {
  cursor: pointer;
}

.people__info {
  position: absolute;
  top: 17px;
  right: 15px;
  width: 15px;
  height: 15px;
  border: 1.5px solid;
  border-color: white;
  text-align: center;
  border-radius: 15px;
  z-index: 9999;
}

.people__info:hover {
  border-color: #ffbb93;
  color: #ffbb93;
  cursor: pointer;
}

.info__content {
  display: none;
  position: absolute;
  top: -2px;
  right: -255px;
  width: 240px;
  height: 200px;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  padding-top: 10px;
}

.info__content::before {
  content: "";
  position: absolute;
  right: 100%;
  top: 16px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid white;
  border-bottom: 13px solid transparent;
}

.info__content div {
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
}

.info__content font {
  color: black;
  font-size: 14px;
}

.info__content h1 {
  color: gray;
  position: absolute;
  font-size: 14px;
  bottom: 20px;
  left: 45%;
}

.info__content .page1 {
  display: block;
}
.info__content .page2 {
  display: none;
}
.info__content .page3 {
  display: none;
}

.people__view,
.option__content {
  display: none;
  text-align: center;
}

#option {
  display: none;
}

input[type="checkbox"] {
  position: fixed;
  left: -9999px;
}

#people__checkbox:checked ~ .people__view {
  display: block;
}

#option__checkbox:checked ~ .option__content {
  display: block;
}

.scrollBlind {
  width: 260px;
  height: 100%;
  overflow-y: scroll;
  background-color: #42a5f5;

  /* 스크롤바 숨기기*/
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* 스크롤바 숨기기*/
.scrollBlind::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.people__view {
  width: 300px;
  height: 350px;
  /* position: absolute; */
  overflow: hidden;
}

.hideMenu {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 100%;
  top: 40%;
}

.hideMenu label {
  width: 50px;
  height: 50px;
  position: absolute;
  cursor: pointer;
}

.circleInfo {
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 180px;
  height: 150px;
  border-radius: 20px;
  background-color: white;
  z-index: 10000;
  font-family: "Jeju Gothic", sans-serif;
}

.circleInfo > .explanation {
  top: 10px;
  width: 100%;
  height: 30px;
  text-align: center;
}

.circleInfo p {
  color: black;
  margin-top: 10px;
}

.circleInfo li {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.circleInfo li p {
  margin: 0;
}

.circleInfo .circleColor {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border-radius: 50%;
}

.circleInfo #firstColor {
  background-color: #ef5350;
}

.circleInfo #secondColor {
  background-color: #ffa726;
}

.circleInfo #thirdColor {
  background-color: #42a5f5;
}

@media screen and (max-width: 768px) {
  .menu {
    width: 170px;
    margin: 5px;
  }
  .menu__list,
  .people__view,
  .scrollBlind {
    width: 160px;
  }

  .people__info {
    right: 6px;
  }
  .menu__list > li ul {
    font-size: 14px;
  }

  .menu__list > li ul > li {
    padding: 15px;
  }

  .hideMenu {
    left: 170px;
  }

  .circleInfo {
    width: 120px;
    height: 100px;
  }

  .circleInfo > .explanation {
    height: 15px;
  }

  .circleInfo p {
    color: black;
    margin-top: 5px;
    font-size: 14px;
  }

  .circleInfo li {
    margin-top: 8px;
  }

  .circleInfo li p {
    font-size: 12px;
  }
}

@-webkit-keyframes smallScreenHideMenu {
  from {
    left: 5px;
  }
  to {
    left: -170px;
  }
}

@-webkit-keyframes smallScreenShowMenu {
  from {
    left: -170px;
  }
  to {
    left: 0px;
  }
}
@-webkit-keyframes bicScreenHideMenu {
  from {
    left: 20px;
  }
  to {
    left: -270px;
  }
}
@-webkit-keyframes bicScreenShowMenu {
  from {
    left: -270px;
  }
  to {
    left: 0px;
  }
}
