@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

.menu {
  width: 270px;
  height: 80%;
  background-color: #f0f0f0;
  opacity: 100%;
  position: fixed;
  z-index: 9999;
  margin: 20px;
  border-radius: 10px;
  animation-fill-mode: both;
  animation-iteration-count: initial;
  animation-duration: 1s;
}

.menu__list {
  position: relative;
  width: 260px;
  height: 80%;
  left: 5px;
  top: 5px;
  background-color: white;
  border-radius: 10px;
}

.menu__list > li {
  position: relative;
  display: list-item;
  justify-content: center;
  background-color: #3396ff;
  color: white;
  font-family: "Jeju Gothic", sans-serif;
  list-style: none;
}

.menu__list > li > label {
  display: flex;
  justify-content: center;
  padding: 10px 20px 10px 0;
  align-items: center;
}

.menu__list > li > label > span {
  padding-right: 5px;
}

.menu__list > li > label:hover {
  cursor: pointer;
}

.menu__list > li ul {
  background-color: white;
  color: black;
  font-size: 18px;
}

.menu__list > li ul > li {
  padding: 20px;
}

.search__content {
  display: flex;
}
.people__view,
.option__content {
  display: none;
  text-align: center;
}

input[type="checkbox"] {
  position: fixed;
  left: -9999px;
}

#search__checkbox:checked ~ .search__content {
  display: none;
}

#people__checkbox:checked ~ .people__view {
  display: block;
}

#option__checkbox:checked ~ .option__content {
  display: block;
}

.search__content input[type="text"] {
  padding: 6px 0px 6px 6px;
  margin: 8px 0px 8px 4px;
  font-size: 17px;
  border: none;
  border-color: #3396ff;
}

.search__content button {
  float: right;
  padding: 6px 5px;
  margin-top: 8px;
  background: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
  color: gray;
}

.scrollBlind {
  width: 260px;
  height: 100%;
  overflow-y: scroll;
  background-color: #42a5f5;

  /* 스크롤바 숨기기*/
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* 스크롤바 숨기기*/
.scrollBlind::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.people__view {
  width: 300px;
  height: 300px;
  /* position: absolute; */
  overflow: hidden;
}

.hideMenu {
  position: fixed;
  left: 285px;
  top: 40%;
  width: 30px;
  height: 30px;
  z-index: 9999;
  animation-fill-mode: both;
  animation-iteration-count: initial;
  animation-duration: 1s;
}

.hideMenu label {
  cursor: pointer;
  display: flex;
  padding: 10px 10px 10px 0px;
  color: #0039cb;
}

.circleInfo {
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 180px;
  height: 150px;
  border-radius: 20px;
  background-color: white;
  z-index: 10000;
  font-family: "Jeju Gothic", sans-serif;
}

.circleInfo > .explanation {
  top: 10px;
  width: 100%;
  height: 30px;
  text-align: center;
}

.circleInfo p {
  color: black;
  margin-top: 10px;
}

.circleInfo li {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.circleInfo li p {
  margin: 0;
}

.circleInfo .circleColor {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border-radius: 50%;
}

.circleInfo #firstColor {
  background-color: #ef5350;
}

.circleInfo #secondColor {
  background-color: #ffa726;
}

.circleInfo #thirdColor {
  background-color: #42a5f5;
}

@media screen and (max-width: 768px) {
  .menu {
    width: 170px;
  }
  .menu__list,
  .people__view,
  .scrollBlind {
    width: 160px;
  }

  .menu__list > li ul {
    font-size: 14px;
  }
  .search__content {
    display: block;
    position: fixed;
    top: 25px;
    left: 200px;
  }

  .hideMenu {
    left: 185px;
    cursor: pointer;
  }

  .circleInfo {
    width: 120px;
    height: 100px;
  }

  .circleInfo > .explanation {
    height: 15px;
  }

  .circleInfo p {
    color: black;
    margin-top: 5px;
    font-size: 14px;
  }

  .circleInfo li {
    margin-top: 8px;
  }

  .circleInfo li p {
    font-size: 12px;
  }
}

@-webkit-keyframes hideMenu {
  from {
    left: 20px;
  }
  to {
    left: -300px;
  }
}

@-webkit-keyframes showMenu {
  from {
    left: -300px;
  }
  to {
    left: 0px;
  }
}

@-webkit-keyframes bicScreenMoveLeftButton {
  from {
    left: 285px;
  }
  to {
    left: 0px;
  }
}
@-webkit-keyframes smallScreenMoveLeftButton {
  from {
    left: 185px;
  }
  to {
    left: 0px;
  }
}

@-webkit-keyframes bicScreenMoveRightButton {
  from {
    left: 0px;
  }
  to {
    left: 285px;
  }
}
@-webkit-keyframes smallScreenMoveRightButton {
  from {
    left: 0px;
  }
  to {
    left: 185px;
  }
}
